/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    background: rgb(5,31,185);
    background: linear-gradient(0deg, rgba(5,31,185,1) 73%, rgba(0,212,255,1) 100%);
} 