.sub-title{

    text-align: center;
    font: 1.5em sans-serif;
    background: lightgray;
}


.container-table{
    background: bisque;
    border-radius: 20px;
}
.json-container{
    width: 200px !important;
}
.blur {
    filter: blur(5px);
    transition: filter 0.3s;
  }